# transaction pooler 
DATABASE_URL=postgresql://postgres.your-project-ref:Workit416123%2F@aws-0-region.pooler.supabase.com:6543/postgres

# Session pooler for alembic
DIRECT_URL=postgresql://postgres.your-project-ref:Workit416123%2F@aws-0-region.pooler.supabase.com:5432/postgres

